body
{
    margin: 0;
    padding: 0;
    height: 100vh;
        
}

#content {
  border-radius: 25px;
  background: #f00;
  padding: 20px; 
  width: 500px;
  height: 500px;
  opacity: 0.1;  
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;    
}

#particles-js
{
    height: 100%;
    background: #262626;
    color: white;
}



    
    

